body {
	background: url("../images/alien_landscape.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed


}


div.char {
	color:#b11;
	font-family: 'Bungee', cursive;
}


.character{ 
	display: inline-block;
	border-style: solid;
	border-color: red;
	background-color: #abc;
	font-size: 10px;
	font-family: 'Bungee', cursive;
	text-align: center;
	cursor: crosshair;


}

.character-name{

}

.character-image{
	width:200px;height:200px;

}